.tableDownloaderIcon {
  height: 48px;
width: 48px;
border-style: solid;
background-color: #ffffff;
border-radius: 0px;
border-width: 0px;
/*border-color: #001100;*/
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1;
}
.cancelCross{
  height: 12px;
width: 12px;
border-style: solid;
border-radius: 0px;
border-width: 0px;
position: absolute;
top: 8px;
right: 8px;
transform: translate(-50%, -50%);
z-index: 10;
}

/*
.iconDiv {
height: 0px
width: auto;
padding-top: -10px;
overflow:auto;
background color: #ffff66;

}
*/
.myTableDownloaderOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
   height: 100%;
  width: 100%;
  background-color: #075335;
 /*#02723B;#0F9D57;*/
 z-index: 5;
}
.myTableDownloaderContainer {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
}

.myTableDownloaderContainer:hover .myTableDownloaderOverlay{
  opacity: 0.9;
}
